h1 {
    text-align: center;
    background-color: #dddddd;
    max-width: 500px;
    margin: auto;
    padding:5px;
}
.res {
    border-style: dashed;
    width: fit-content;
    margin: auto;
}

.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}

.book-img {
  max-height: 150px;
  /* height: 100%; */
  width: 150px;
  object-fit: contain;
  margin: 8px;
}