h1 {
    text-align: center;
    background-color: #dddddd;
    width: 500px;
    margin:auto;
    padding:5px;
}
.res {
    border-style: dashed;
    width: fit-content;
    margin: auto;
}

.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}